/* 
 * Solarized Dark Color Scheme by Ethan Schoonover, http://ethanschoonover.com/solarized 
 * SASS Definition Based on the Work by Mohsen Azimi, https://github.com/mohsen1/
 * Based on Earlier Work by:
 * Quint Guvernator, https://gist.github.com/qguv/7936275
 * Nicolas Hery, https://gist.github.com/nicolashery/5765395
 * Matteo Scotuzzi, https://gist.github.com/scotu/1272660
 * Thomas Reynolds, https://gist.github.com/tdreyno/1125708
 *
 */

$SolarizedBackground:     #002b36;  // Background (Solarized Base 03)
$SolarizedForeground:     #93a1a1;  // Default (Solarized Base 1)
$SolarizedForegroundMisc: #586e75;  // Deemphasized (Solarized Base 01)
$SolarizedAccentOrange:   #cb4b16;  // Constants
$SolarizedAccentMagenta:  #d33682;  // Regular Expressions & Special Keywords
$SolarizedAccentBlue:     #268bd2;  // Reserved Keywords
$SolarizedAccentCyan:     #2aa198;  // Numerical & String Values
$SolarizedAccentViolet:   #6c71c4;  // Operators & Other Keywords

.highlight {

    background-color: $SolarizedBackground; color: $SolarizedForeground;

    table td { padding: 5px; }
    table pre { margin: 0; }

    /* Colors */
    .bp  { color: $SolarizedAccentBlue;     }  /* Name.Builtin.Pseudo */
    .c   { color: $SolarizedForegroundMisc; }  /* Comment */
    .c1  { color: $SolarizedForegroundMisc; }  /* Comment.Single */
    .cm  { color: $SolarizedForegroundMisc; }  /* Comment.Multiline */
    .cp  { color: $SolarizedAccentViolet;   }  /* Comment.Preproc */
    .cs  { color: $SolarizedAccentViolet;   }  /* Comment.Special */
    .err { color: $SolarizedForeground;     }  /* Error */
    .g   { color: $SolarizedForeground;     }  /* Generic */
    .gd  { color: $SolarizedAccentCyan;     }  /* Generic.Deleted */
    .ge  { color: $SolarizedForeground;     }  /* Generic.Emph */
    .gh  { color: $SolarizedAccentOrange;   }  /* Generic.Heading */
    .gi  { color: $SolarizedAccentViolet;   }  /* Generic.Inserted */
    .go  { color: $SolarizedForeground;     }  /* Generic.Output */
    .gp  { color: $SolarizedForeground;     }  /* Generic.Prompt */
    .gr  { color: $SolarizedAccentMagenta;  }  /* Generic.Error */
    .gs  { color: $SolarizedForeground;     }  /* Generic.Strong */
    .gt  { color: $SolarizedForeground;     }  /* Generic.Traceback */
    .gu  { color: $SolarizedAccentOrange;   }  /* Generic.Subheading */
    .il  { color: $SolarizedAccentCyan;     }  /* Literal.Number.Integer.Long */
    .k   { color: $SolarizedAccentViolet;   }  /* Keyword */
    .kc  { color: $SolarizedAccentOrange;   }  /* Keyword.Constant */
    .kd  { color: $SolarizedAccentBlue;     }  /* Keyword.Declaration */
    .kn  { color: $SolarizedAccentViolet;   }  /* Keyword.Namespace */
    .kp  { color: $SolarizedAccentViolet;   }  /* Keyword.Pseudo */
    .kr  { color: $SolarizedAccentBlue;     }  /* Keyword.Reserved */
    .kt  { color: $SolarizedAccentMagenta;  }  /* Keyword.Type */
    .l   { color: $SolarizedForeground;     }  /* Literal */
    .ld  { color: $SolarizedForeground;     }  /* Literal.Date */
    .m   { color: $SolarizedAccentCyan;     }  /* Literal.Number */
    .mf  { color: $SolarizedAccentCyan;     }  /* Literal.Number.Float */
    .mh  { color: $SolarizedAccentCyan;     }  /* Literal.Number.Hex */
    .mi  { color: $SolarizedAccentCyan;     }  /* Literal.Number.Integer */
    .mo  { color: $SolarizedAccentCyan;     }  /* Literal.Number.Oct */
    .n   { color: $SolarizedForeground;     }  /* Name */
    .na  { color: $SolarizedForeground;     }  /* Name.Attribute */
    .nb  { color: $SolarizedAccentOrange    }  /* Name.Builtin */
    .nc  { color: $SolarizedAccentBlue;     }  /* Name.Class */
    .nd  { color: $SolarizedAccentBlue;     }  /* Name.Decorator */
    .ne  { color: $SolarizedAccentOrange;   }  /* Name.Exception */
    .nf  { color: $SolarizedAccentBlue;     }  /* Name.Function */
    .ni  { color: $SolarizedAccentOrange;   }  /* Name.Entity */
    .nl  { color: $SolarizedForeground;     }  /* Name.Label */
    .nn  { color: $SolarizedForeground;     }  /* Name.Namespace */
    .no  { color: $SolarizedAccentOrange;   }  /* Name.Constant */
    .nt  { color: $SolarizedAccentBlue;     }  /* Name.Tag */
    .nv  { color: $SolarizedAccentBlue;     }  /* Name.Variable */
    .nx  { color: $SolarizedForeground;     }  /* Name.Other */
    .o   { color: $SolarizedAccentViolet;   }  /* Operator */
    .ow  { color: $SolarizedAccentViolet;   }  /* Operator.Word */
    .p   { color: $SolarizedForeground;     }  /* Punctuation */
    .py  { color: $SolarizedForeground;     }  /* Name.Property */
    .s   { color: $SolarizedAccentCyan;     }  /* Literal.String */
    .s1  { color: $SolarizedAccentCyan;     }  /* Literal.String.Single */
    .s2  { color: $SolarizedAccentCyan;     }  /* Literal.String.Double */
    .sb  { color: $SolarizedForegroundMisc; }  /* Literal.String.Backtick */
    .sc  { color: $SolarizedAccentCyan;     }  /* Literal.String.Char */
    .sd  { color: $SolarizedForeground;     }  /* Literal.String.Doc */
    .se  { color: $SolarizedAccentOrange;   }  /* Literal.String.Escape */
    .sh  { color: $SolarizedForeground;     }  /* Literal.String.Heredoc */
    .si  { color: $SolarizedAccentCyan;     }  /* Literal.String.Interpol */
    .sr  { color: $SolarizedAccentMagenta;  }  /* Literal.String.Regex */
    .ss  { color: $SolarizedAccentCyan;     }  /* Literal.String.Symbol */
    .sx  { color: $SolarizedAccentCyan;     }  /* Literal.String.Other */
    .vc  { color: $SolarizedAccentBlue;     }  /* Name.Variable.Class */
    .vg  { color: $SolarizedAccentBlue;     }  /* Name.Variable.Global */
    .vi  { color: $SolarizedAccentBlue;     }  /* Name.Variable.Instance */
    .w   { color: $SolarizedForeground;     }  /* Text.Whitespace */
    .x   { color: $SolarizedAccentOrange;   }  /* Other */

    /* Font */
    .ge  { font-style: italic }
    .gs  { font-weight: bold  }

}
