// General

$BreakpointMax: 64em !default;
$BreakpointMed: 42em !default;

$ColorBorderQuote: #dce6f0 !default;
$ColorBorderRule: #eff0f1 !default;
$ColorBorderTable: #e9ebec !default;

$ColorCodeBg: #f3f6fa !default;
$ColorCodeFg: #567482 !default;
$ColorDefault: #606c71 !default;
$ColorHeading: #8804ff !default;
$ColorLink: #1e6bb8 !default;
$ColorQuote: #819198 !default;

// Header

$ColorHeaderBgFrom: #03ef9b !default;
$ColorHeaderBgTo: #8804ff !default;
$ColorHeaderFg: #fff !default;
